@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('https://s3.ap-south-1.amazonaws.com/kalvi-education.github.io/front-end-web-development/superover-bg.png');
  text-align: center;
  font-family: 'poppins', sans-serif;
  color: white;
  background-size: cover;
}
#logo {
  width: 200px;
  margin-top: 20px;
}
section {
  margin: 100px;
}
h1 {
  font-size: 70px;
  font-weight: 600;
}
#team1 {
  display: inline-block;
  background-color: darkblue;
}
#team2 {
  display: inline-block;
  background-color: green;
}
.ball {
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  color: #000;
  text-align: center;
  width: 50px;
  height: 50px;
  margin: 5px;
  font-size: 30px;
  padding: 10px;
  font-weight: bold;
  line-height: 20px;
}
.scoreboard {
  font-size: 3em;
  font-weight: bold;
}
.button {
  width: 100px;
  cursor: pointer;
  margin: 0 30px;
  font-size: medium;
}
.score {
  padding: 30;
  height: auto;
  margin: 0 50px;
  border-radius: 20px;
}
#team1-super,
#team2-super {
  margin: 20px;
}
